:root {
  --bg1: hsl(31, 77%, 52%);
  --bg2: hsl(184, 100%, 22%);
  --bg3: hsl(179, 100%, 13%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* container */

body {
  height: 100vh;
  width: 100vw;
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
}
main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 305px 305px 305px 1fr;
  grid-template-rows: 1fr 500px 1fr;
  background: hsl(0, 0%, 95%);
}
#color1 {
  background: var(--bg1);
  grid-area: 2/2/3/3;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}
#color2 {
  background: var(--bg2);
  grid-area: 2/3/3/4;
}
#color3 {
  background: var(--bg3);
  grid-area: 2/4/3/5;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 15%;
  gap: 2.5em;
}

/* text */

.container h1 {
  font-size: 2.5em;
  font-family: "Big Shoulders Display", cursive;
  color: hsl(0, 0%, 95%);
}
.container p {
  width: 95%;
  line-height: 1.5em;
  color: hsla(0, 0%, 100%, 0.75);
}
.container img {
  width: 4em;
}

/* buttons */

.btn {
  margin-top: 3em;
  display: block;
  width: 70%;
  padding: 1em 0;
  border: 0;
  border-radius: 5em;
  background: hsl(0, 0%, 95%);
  font-family: inherit;
  font-size: 1.05em;
}
.btn:active {
  border: 0.2em solid hsl(0, 0%, 95%);
}
#color1 .btn {
  color: var(--bg1);
}
#color1 .btn:active {
  color: hsl(0, 0%, 95%);
  background: var(--bg1);
}
#color2 .btn {
  color: var(--bg2);
}
#color2 .btn:active {
  color: hsl(0, 0%, 95%);
  background: var(--bg2);
}
#color3 .btn {
  color: var(--bg3);
}
#color3 .btn:active {
  color: hsl(0, 0%, 95%);
  background: var(--bg3);
}

/* media queries */

@media only screen and (max-width: 910px) {
  body {
    height: 100%;
  }
  main {
    grid-template-columns: 1fr 305px 1fr;
    grid-template-rows: 1fr 500px 500px 500px 1fr;
  }
  #color1 {
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0em;
  }
  #color2 {
    grid-area: 3/2/4/3;
  }
  #color3 {
    grid-area: 4/2/5/3;
    border-top-right-radius: 0em;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
  }
}
